
body{
    padding: 50px;
    background-image:url("./img/back.jpeg");
    background-size : cover;
}
h1{
    color:yellow;
    background-color:black;

}

h2{
    color:red;
    background-color:yellow;
}
 
h3{
    color:red;
    background-color:rgb(245, 245, 61);
}

ul{
    color:green;
    background-color:rgb(244, 244, 134);
}
.no1 {
        margin-top: -0.5em ;
      }

     p{
        color:blue;
        background-color:yellow;
        font-family : Arial;
     } 
  
     
